@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#root{
    --text-color: #2f313f;
    --text-color-transparent: #2f313f4c;
    --bg-color: #EEEEEE;
    --main-color: #9CFFAC;
    --main-dark-color: #6FAF79;
    --second-color: #FFFFFF;
    --tw-backdrop-blur: blur(24px);
    --card-color: #23ba8f2b;
    --text-light-color: #121d2b99;
}

.login-container{
    margin: 10px;
    padding: 10px 20px;
}

.login{
}

.login h2{
}

.login-buttons{
}

.login input{
}