#root {
  height: 100%;
  width: 100%;
  text-align: center;
  --text-color: #2f313f;
  --text-color-transparent: #2f313f4c;
  --bg-color: #EEEEEE;
  --main-color: #9CFFAC;
  --main-dark-color: #6FAF79;
  --second-color: #FFFFFF;
  --tw-backdrop-blur: blur(24px);
  --neutral-color: #061a371b;
  --text-light-color: #121d2b99;
}

header, footer{
	flex: 0 1 10%;
}
header,footer,main{
  width: 100%;
}
main{
	flex: 1 1 auto;
}

.box{
	display: flex;
	flex-flow: column;
	height: 100%;
}

body, html{
  height: 100%;
  width: 100%;
}

header{
	padding: 20px;
	display: flex;
	align-items: center;
	padding: 0 0 0 200px;
}

.container {
	transform: translate(-50%);
}

.search-box {	
	input[type="text"] {
		border: none;
		background: none;
		z-index: 1;
		width: 25px;
		height: 25px;
		transition: all .25s ease-in .25s;
		color: transparent;
		font-size: .75rem;
		line-height:25px;
		&:hover {
			cursor: pointer;
			&:focus {
				cursor: text;
			}
			+ span {
				background: rgba(255,255,255,0.2);
			}
		}
		&:focus {
			width: 200px;
			padding: 0 10px;
			outline: none;
			color: black;
			background:none;
			color: white;
			+ span {
				width: 200px;
				&::before {
					width:2px;
					opacity: 0;
					transition: all .25s ease-in;
				}
			}
		}
		+ span {
			z-index: -1;
			position: absolute;
			border: 2px solid white;
			top: 0;
			width: 25px;
			height: 25px;
			transition: all .25s ease-in .25s;
			border-radius: 25px;
			left: 0;
			&::before {
				transition: all .25s ease-in .5s;
				transform-origin: left top;
				content: '';
				position: absolute;
				width: 10px;
				height: 5px;
				border-radius: 5px;
				background: white;
				transform: rotate(45deg) translate(26px, -2px);
			}
		}
	}
}