@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#root{
    --text-color: #2f313f;
    --text-color-transparent: #2f313f4c;
    --bg-color: #EEEEEE;
    --main-color: #9CFFAC;
    --main-dark-color: #6FAF79;
    --second-color: #FFFFFF;
    --tw-backdrop-blur: blur(24px);
    --neutral-color: #061a371b;
    --text-light-color: #121d2b99;
}

.modal-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    animation: show 1s linear;
    z-index: 1001;
}
.modal {
    position: relative;
    height: auto;
    max-height: 90%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    border: 2px solid white;
}

.modal::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar
{
	width: 12px;
}

.modal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.modal img{
    width: 500px;
}

.modal input{
    height: 50px;
}

.admin-container{
    background-image: url('../../../assets/star-of-life.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.admin-editors{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 55%;
}

.admin-list{
    width: 45%;
    padding: 2rem;
}